// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";



body {
  margin: 0;
  font-family: "Varela", sans-serif;
  margin-top: 50px;
}

.container {
  margin-top:100px;

}

h1 {
  text-align: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
  padding: 25px 0;
}
